{% extends "App1/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1 class="mx-auto my-0 text-uppercase">Buscar producto en el inventario</h1>
{% endblock %}


{% block subtitulo_de_pagina %}
<h2>{{ mensaje }}</h2>
<h2 class="text-white-50 mx-auto mt-2 mb-5">Ingresa un codigo de producto</h2>
{% endblock %}

{% block espacio_formulario %}
<h2 class="text-white-50 mx-auto mt-2 mb-5">
    <form action="{% url 'buscar' %}", method="GET">{% csrf_token %}
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <p>Codigo: <input type="number" name="codigo", id="codigo"></p>
            </div>
        </div>    
        <input type="submit" name="Buscar">
</h2>
{% endblock %}

