{% extends "App1/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1 class="mx-auto my-0 text-uppercase">Producto creado con exito</h1>
{% endblock %}


{% block subtitulo_de_pagina %}
<h2 class="text-white-50 mx-auto mt-2 mb-5"> {{ mensaje }}</h2>
<h2 class="text-white-50 mx-auto mt-2 mb-5">Selecciona una opcion</h2>
{% endblock %}

{% block espacio_formulario %}
<a class="btn btn-primary" href="{% url 'formularioProducto' %}">Agrega producto (formulario manual)</a>
<a class="btn btn-primary" href="{% url 'formularioProductoApi' %}">Agrega producto (Formulario Django)</a>
<a class="btn btn-primary" href="{% url 'busquedaProducto' %}">Buscar producto</a>


{% endblock %}