{% extends "App1/padre.html" %}

{% load static %}

{% block boton_de_registro %}
<li class="nav-item"><a class="nav-link" href="#signup">Registrate</a></li>
{% endblock %}

{% block titulo_de_pagina %}
<h1 class="mx-auto my-0 text-uppercase">Bienvenidos</h1>
{% endblock %}


{% block subtitulo_de_pagina %}
<h2 class="text-white-50 mx-auto mt-2 mb-5">Estas en la pagina de inicio</h2>
{% endblock %}


{% block espacio_formulario %}
<a class="btn btn-primary">
    <form action="{% url 'formularioProducto' %}", method="POST">{% csrf_token %}
        <p>Codigo: <input type="number", name="codigo"></p>
        <p>Marca: <input type="text", name="marca"></p>
        <p>Sabor: <input type="text", name="sabor"></p>
        <p>Precio: <input type="number", name="precio"></p>

        <input type="submit" name="Enviar">

    </form>
</a>
{% endblock %}