{% extends "App1/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1 class="mx-auto my-0 text-uppercase">Listado de galletitas en inventario</h1>
{% endblock %}


{% block subtitulo_de_pagina %}
<h2>{{ mensaje }}</h2>
<h2 class="text-white-50">Productos encontrados</h2>
{% endblock %}

{% block espacio_formulario %}

    {% for item in galletitas %}

    <h2 class="text-center text-white-50">Codigo: {{ item.codigo }}, Marca: {{ item.marca }}, Tipo: {{ item.tipo }}, Precio: {{ item.precio }}, Cantidad: {{ item.cantidad }}</h2>
    <a class="btn btn-primary" href="{% url 'eliminarGalletitas' item.codigo %}">Eliminar producto</a>
    <h2 class="text-white-50">--</h2>

    {% endfor %}

    <a class="btn btn-primary" href="{% url 'formularioProductoApi' %}">Agrega producto</a>

{% endblock %}

